.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-container {
  height: 500px;
  width: 350px;
  border: 2px solid black;
}

.row {
  height: 10px;
  display: flex;
}

.grid-square {
  width: 10px;
  height: 10px;
  /* background-color: aquamarine; */
  /* border: .1px solid black; */
}

.chosen-square {
  background-color: blueviolet;
}